.DS_store
*.DS_Store
*.idea
/node_modules
newrelic.js
newrelic_agent.log
/deployAutoFromLocal.sh

notification_logs/
uploads/
lib-cov

*.seed
*.log

*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.rdb
.env
!.env.example
*.vscode/

yarn.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
